<h2>MailChimp Integration</h2>
<h3>Manage your lists</h3>
Export the following list:
<ul>
  <br/>
  <li>Organization List<br/>
    <%= link_to 'To CSV file', '/admin/mailchimp/OrganizationList.csv', {:class => 'btn btn-primary'} %>
    <%= link_to 'To MailChimp via API', '/admin/mailchimp/api/OrganizationList', {:class => 'btn btn-primary'} %>
  </li>
  <br/>
  <li>Users List<br/>
    <%= link_to 'To CSV file', '/admin/mailchimp/UserList.csv', {:class => 'btn btn-primary'} %>
    <%= link_to 'To MailChimp via API', '/admin/mailchimp/api/UserList', {:class => 'btn btn-primary'} %>
  </li>
</ul>
